*, *::before, *::after {
  box-sizing: border-box;
}

::selection {
  background: #00adb5;
}

p, a, ul, span {
  font-family: "Poppins", "Mulish", "Raleway", "Avenir", "Montserrat", sans-serif;
  font-size: 16px;
  color: #393e46;
  line-height: 1.4;
}

h1, h2, h3, h4 {
  font-family: "Poppins", "Mulish", "Avenir", "Montserrat", sans-serif;
  font-weight: normal;
  color: #222831;
}

h1 {
  font-size: 50px;
  padding: 80px 50px 5px 50px;
}

h2 {
  font-size: 40px;
  padding-top: 70px;
}

h3 {
  font-size: 24px;
}

h4.contact {
  text-align: center;
  font-size: 45px;
  margin-bottom: 0px;
}

p {
  text-align: justify;
}

ul {
  list-style: none;
}

nav {
  width: 80%;
  background-color: #eeeeee;
  color: #222831;
  position: fixed;
  top: 0;
  z-index: 1;
  overflow: hidden;
}

ul.nav {
  text-align: center;
}

li.navigation {
  font-size: 18px;
  float: left;
  display: block;
  padding: 8px 16px 20px 18px;
  text-decoration: none;
  }

li.navigation a {
  text-decoration: none;
  color: #222831;
  padding: 30px 60px 30px 60px;
}

li a:hover {
      background-color: #00adb5;
      text-decoration: none;
      color: white;
      transition: all 0.5s ease-in-out;
}

.list {
  padding: 0px;
}

ul.list li {
  padding-top: 20px;
  padding-bottom: 20px;
  list-style: none;
  border-bottom: 1px solid #eeeeee;
}

img {
  max-width: 100%;
}

img.social-media {
  height: 40px;
}

img.contact {
  height: 80px;
}

section.pani {
  position: absolute;
  margin-top: 250px;
}

header, footer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: #eeeeee;
}

header {
  position: relative;
}

.top {
  background-attachment: fixed;
  text-align: center;
}

.subtitle {
  text-align: center;
}

.footer {
  font-size: 14px;
  text-align: center;
}

.contact-par {
  text-align: center;
  font-size: 15px;
}

a {
  font-size: 15px;
  color: #222831;
  transition: all 0.2s ease-in-out;
}

a:hover {
  background-color: #00adb5;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
}

a.paragraph {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}
