*, *::before, *::after {
  box-sizing: border-box;
}

::selection {
  background: #008080;
}

p, a, ul, span {
  font-family: "Raleway", "Avenir", "Montserrat", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-family: "Avenir", "Montserrat", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 80px;
  padding: 45px;
}

h2 {
  font-size: 40px;
  padding-top: 25px;
}

h3 {
  font-size: 24px;
}

h4.contact {
  text-align: center;
  font-size: 45px;
  margin-bottom: 0px;
}

ul {
  list-style: none;
}

ul.list li {
  padding-top: 20px;
  padding-bottom: 20px;
  list-style: none;
  border-bottom: 1px solid #eee;
}

.list {
  padding: 0px;
}

nav {
  width: 100%;
  background-color: #DCDCDC;
  color: #000000;
  position: fixed;
  top: 0;
  z-index: 1;
}

li.navigation {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  }

li.navigation a {
  text-decoration: none;
  color: black;
  padding: 30px 60px 15px 60px;
}

li a:hover {
      background-color: #DAA520;
      text-decoration: none;
      color: white;
      transition: all 0.5s ease-in-out;
}

img {
  max-width: 100%;
}

img.social-media {
  height: 40px;
}

img.contact {
  height: 80px;
}

section.pani {
  position: absolute;
  margin-top: 170px;
}

header, footer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: #FBFBFB;
}

header {
  position: relative;
}

.top {
  background-color: #DCDCDC;
  background-attachment: fixed;
}

.subtitle {
  text-align: center;
}

.footer {
  font-size: 14px;
  text-align: center;
}

.contact-par {
  text-align: center;
  font-size: 15px;
}

a {
  font-size: 15px;
  color: #000;
  transition: all 0.2s ease-in-out;
}

a:hover {
  background-color: #DAA520;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
}

.insta {
  font-size: 40px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
}
